{% extends "base.html" %}
{% load static %}

{% block content %}
<div class = "container">
    <!-- <h1>alo</h1> -->
    <!-- {% for c in content %}
        <h1>{{ c.title }}</h1>
        <p>{{ c.body|safe }}</p>
    {% endfor %} -->

    <!-- {% for e in event %}
        <p id = "end_date_event">{{ e.end_date }}</p>
    {% endfor %} -->

    <!-- content code -->
    <!-- {% for a in homeDescription %}
        <h1>{{ a.title }}</h1>
        <p>{{ a.body|safe }}</p>
    {% endfor %} -->

    <!-- tag code -->
    <!-- {% for o in organization %}
    <h1>{{ o.name }}</h1>
        {% for tag in o.tags.all %}
        <h1>{{ tag }}</h1>
        {% endfor %}
    {% endfor %} -->
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <p class = "subtitle1">subtitle1</p>
    <p class = "subtitle2">subttile2</p>
    <p class = "body">body</p>
    <p class = "body" style = "font-weight: bold;">body bold</p>
    <button class = "p-3">button</button>
    <p class = "small">small</p>
    <label for="">label</label>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem eget nisi egestas ultrices. Donec varius scelerisque magna vel fermentum. Duis et massa mollis, dictum diam nec, venenatis est. Donec dui mauris, volutpat et orci pellentesque, ornare ornare diam. Cras a enim eget urna lacinia efficitur sit amet finibus elit. Cras malesuada ornare justo sit amet gravida. Donec magna justo, elementum eu rutrum sed, luctus vestibulum libero. Praesent euismod orci at neque porta, rhoncus blandit mi elementum. In sit amet convallis nunc. Morbi non blandit ante, nec scelerisque augue. Vivamus a rhoncus orci. Quisque bibendum fringilla neque, eu mollis dolor commodo et.

Aliquam malesuada nunc id dolor laoreet, dignissim congue orci venenatis. Sed consectetur cursus arcu quis dictum. Curabitur a diam erat. Nunc interdum commodo porttitor. Praesent sit amet justo sit amet libero ullamcorper efficitur vehicula nec arcu. Ut placerat non ex nec ultricies. Nam laoreet faucibus orci id vehicula. Donec eu gravida lorem. Integer ante lectus, ornare sed lacus ut, suscipit maximus magna. Pellentesque et pellentesque arcu. Ut eros lacus, tempus id rhoncus non, tincidunt at neque.

Phasellus sit amet aliquet augue. Sed a fringilla dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Cras id tellus eleifend eros pharetra tincidunt non ut ipsum. Vestibulum finibus dui nec elit maximus, pharetra luctus velit tincidunt. Mauris eu magna felis. Donec consequat magna vel dui maximus vehicula. Maecenas lobortis consectetur eros sit amet tristique. Aliquam sit amet lacus sed lacus sagittis tempus vitae et purus. Praesent id volutpat sem. Maecenas ornare interdum sapien id tempus. Nam condimentum dui odio, vestibulum eleifend sem aliquet at. Donec ut efficitur nisl. Praesent ultricies turpis maximus vestibulum sodales. Nam dictum enim accumsan tortor imperdiet sollicitudin.

Nullam at sem iaculis, ultricies enim id, egestas ligula. Cras sed sem ac ipsum vehicula imperdiet sed vel nibh. Integer et auctor nisi. Curabitur ac interdum augue. Vestibulum rutrum semper cursus. Nam pharetra ante lacus, vitae porttitor erat feugiat in. Duis tincidunt pretium orci, ut molestie magna gravida id. Etiam vestibulum ac tortor a sagittis.

Vivamus non hendrerit arcu. Nunc eu ipsum vitae ante venenatis tristique et id arcu. Cras eget elit in nisl ullamcorper tempor. Suspendisse fringilla hendrerit orci sed ullamcorper. Sed eget odio purus. Quisque ac gravida lorem, id ultrices leo. Cras aliquam magna ut est iaculis, quis hendrerit metus laoreet. Aliquam eleifend gravida accumsan. Maecenas varius imperdiet congue.

Nam id varius quam, vel rutrum leo. Fusce eget maximus leo. Curabitur nec arcu massa. Praesent ut interdum augue. Maecenas a sapien facilisis felis venenatis auctor. Donec consectetur quam nec velit viverra, sed consectetur eros vulputate. Praesent eu interdum lorem. Morbi hendrerit nisl sed ex auctor dignissim ut a risus. Proin sed rhoncus nisi. Pellentesque venenatis quis enim ac pulvinar. Nulla sed venenatis neque, ut faucibus diam. Vivamus viverra rhoncus hendrerit. Cras nec ante at sem cursus efficitur. Phasellus quis purus et nisl condimentum faucibus id ac erat.

Nullam scelerisque arcu nec metus posuere fermentum. Suspendisse potenti. Maecenas egestas congue cursus. Duis id congue lorem, venenatis placerat velit. Cras pharetra posuere orci sit amet lacinia. Aliquam pretium, ligula vitae tristique maximus, dolor mauris pellentesque eros, eget mollis purus diam eget metus. Sed pretium nibh quis vestibulum accumsan. Integer eget enim a elit posuere iaculis. Quisque et erat eros. Proin vel vehicula urna, vel vestibulum neque. In dapibus, lacus sed laoreet vulputate, enim nulla luctus lorem, non feugiat augue odio id lorem. Phasellus euismod accumsan eros, a sodales justo pellentesque tincidunt.

Sed vestibulum est quis dui convallis, id tempor tellus faucibus. Etiam ligula quam, posuere vel lobortis ac, aliquam quis ex. Suspendisse imperdiet eros in nulla sollicitudin, a cursus est hendrerit. Aliquam non purus et lacus vestibulum posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin et est vitae velit cursus faucibus eget et elit. Aenean ut ipsum mauris.

Ut eget convallis ipsum. Cras cursus elit ac sem vestibulum pharetra. Aliquam ante nisl, auctor quis ligula tincidunt, gravida mollis lectus. Aliquam erat volutpat. Integer quis varius turpis. Integer tempus suscipit lacus, eget ultrices elit mollis sed. Nunc mollis risus ac justo fermentum blandit. Pellentesque non placerat justo. Suspendisse lobortis turpis nec felis venenatis ultricies. Donec venenatis sodales nisl vitae tempus. Morbi eu lectus non arcu vehicula sollicitudin. Integer nisl lorem, tempor vitae sagittis sit amet, porta non ex. Fusce at elementum tortor. Nam lobortis, ligula sed vulputate eleifend, dui velit hendrerit ligula, nec mattis lectus lacus quis neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec congue faucibus massa, a tempus tortor vulputate et.

Donec imperdiet eget dolor id ornare. Maecenas dapibus ante diam, nec suscipit tellus sagittis non. Nam sed mauris pellentesque, porttitor nunc nec, tincidunt mi. Integer fermentum vitae odio consectetur faucibus. Maecenas vel est id odio feugiat luctus at a risus. Duis metus quam, dictum faucibus venenatis quis, elementum eu nunc. In ut mi iaculis, pellentesque ante eget, fermentum lectus. Pellentesque commodo dui nec dolor gravida accumsan.

Vivamus posuere a urna eu finibus. Phasellus libero urna, blandit at finibus eget, maximus sit amet dui. Integer at cursus ante, eget lobortis ante. Sed a risus erat. Cras volutpat ornare venenatis. Nulla nec arcu viverra lorem mollis scelerisque ac ac leo. Suspendisse ornare interdum dolor eu commodo. Ut in nisl ac odio sagittis tincidunt id vitae ligula. Pellentesque viverra eu ligula non vehicula. Nunc ullamcorper aliquam ipsum, ac molestie risus lobortis vel. Morbi ac efficitur velit, nec accumsan magna.</p>
</div>
{% endblock %}